.page {
    background: #000000;
    color: #FFF;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    padding-top: 45px;
    padding-bottom: 60px;
    margin: auto;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 880px;
}

@media screen and (max-width: 900px) {
    .page {
      padding-top: calc(28px + (45 - 28) * ((100vw - 320px) / (1280 - 320)));
      padding-bottom: calc(36px + (60 - 36) * ((100vw - 320px) / (1280 - 320)));
    }
  }